* {
  padding: 0;
  margin: 0;

}

:root{
  /* Cores */
  --background-default: #F5F4F0;
  --border-primary: #D9D9D9;

  --text-primary: #1B1B1B;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #E1624F;

  --accent-blue: #0C51A7;
  --accent-orange: #E95E10;
  --accent-pink: #E5245E;
  --accent-purple: #591B98;
  /* Outros */
}

body {
  background-color: var(--background-default);
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
  border-radius: 26px;
  margin-top: 44px;
}

.container {
  box-sizing: border-box;
  width: 90%;
  margin: 88px auto;

}

h3 {
  color: var(--text-headline);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

h1 {
  color: var(--text-primary);
  font-size: 36px;
  margin-bottom: 8px;

}

h4 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.mini-text {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-secondary);
}

.image-space {
  margin-top: 64px;
  margin-bottom: 20px;
}

.description-text {
  margin-top: 24px;
  font-style: italic;
  text-align: center;
  font-size: 16px;
  
}

.divisor-simples {
  border: none;
  height: 1px;
  background-color: var(--border-primary);
  margin: 64px 0;
}

.historia {
  color: var(--accent-blue);
  font-size: 16px;
  font-weight: bold;
}

.casais {
  color: var(--accent-blue);
  font-size: 16px;
  font-weight: bold;
}

.familias {
  color: var(--accent-pink);
  font-size: 16px;
  font-weight: bold;
}

.orcamento {
  color: var(--accent-orange);
  font-size: 16px;
  font-weight: bold;
}

#last {
  color: var(--text-secondary);
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}

footer {
  text-align: center;
  padding-bottom: 48px;
  font-size: 16px;
  font-weight: 400;
}

footer img {
  width: 16px;
  height: auto;
}
